@import "tailwindcss";

@layer utilities {
  .bg-binding-dark,
  .bg-binding-dark:after,
  .bg-binding-dark:before {
    background-color: #171717;
    background-image: url(https://wolstenhol.me/proxy/cloudinary/image/upload/c_crop,f_auto,h_200,w_200,q_auto:eco/v1473712910/binding_dark_im2rpa.png);
  }

  .bg-subtle-grunge,
  .bg-subtle-grunge:after,
  .bg-subtle-grunge:before {
    background-color: #f4f4f4;
    background-image: url(https://wolstenhol.me/proxy/cloudinary/image/upload/c_crop,f_auto,h_200,w_200,q_auto:eco/v1473712910/subtle_grunge_ux3r0f.png);
  }

  .stack {
    display: grid;
    place-content: center;

    > * {
      grid-area: 1 / 1;
    }
  }

  .expand-clickable-area {
    position: relative;

    > a {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
    }
  }
}
