---
const { item: article } = Astro.props as { item: any };
---

<li
  class="row-span-2 grid grid-rows-subgrid p-4 font-serif bg-white bg-cover shadow border rounded"
>
  <a href={article.url} class="text-binding-dark font-bold row-span-1">
    {article.title}
  </a>
  <p class="text-sm line-clamp-3 row-span-1">{article.description}</p>
</li>
