---
interface NavLink {
  label: string;
  href: string;
}

const navLinks: NavLink[] = [
  { label: "Words", href: "/#words" },
  { label: "Reading", href: "/#reading" },
  { label: "Speaking", href: "/#speaking" },
  { label: "Music", href: "/#music" },
  { label: "Photos", href: "/#photos" },
  { label: "Posts", href: "/#posts" },
  { label: "Places", href: "/#places" },

  // Keep anchor links to the homepage grouped ABOVE this line, below this are links to other pages.

  { label: "Work", href: "/work" },
  { label: "Contact", href: "/contact" },
  { label: "Starred", href: "/github-stars" },
];
---

<header
  class="w-full h-12 sticky top-0 z-1000 bg-binding-dark slow-connection:bg-none text-white py-2 constrain-content sm:px-2"
  x-data="pwHeader"
  x-load="idle"
>
  <div class="flex space-x-4">
    <a
      href="/#content"
      rel="home"
      class="block shrink-0 w-8 h-8"
      aria-label="Home"
    >
      <span class="sr-only">Home</span>
      <img
        alt="Phil Wolstenholme"
        class="inline-block size-8 rounded-full bg-yellow-300"
        src="https://wolstenhol.me/proxy/cloudinary/image/upload/c_scale,f_auto,q_auto,w_32/v1545084898/avatar_egzcjk.png"
        srcset="https://wolstenhol.me/proxy/cloudinary/image/upload/c_scale,f_auto,q_auto,w_64/v1545084898/avatar_egzcjk.png 2x"
        width="32"
        height="32"
        loading="eager"
        fetchpriority="high"
        decoding="async"
      />
    </a>
    <nav
      class="header-nav relative flex flex-1 items-center overscroll-contain overflow-x-auto scrollbar-none"
      role="navigation"
      aria-label="Page sections"
    >
      <h2 class="sr-only">In-page navigation</h2>
      <div
        class="header-nav--indicator pointer-events-none shrink-0 bg-binding-dark header-nav--indicator__left sticky left-0 top-0 bottom-0"
      >
      </div>
      <ul
        role="list"
        class="header-nav__list flex items-center space-x-3"
        x-ref="list"
      >
        {
          navLinks.map((link, i) => {
            const isPageLink = !link.href.includes("#");
            const prevIsAnchorLink =
              i > 0 && navLinks[i - 1].href.includes("#");
            return (
              <>
                {isPageLink && prevIsAnchorLink && (
                  <li aria-hidden="true" class="select-none text-white/40">
                    •
                  </li>
                )}
                <li class="shrink-0">
                  <a
                    href={link.href}
                    class="font-bold font-serif underline hocus:text-yellow-300"
                    x-bind:class="{ 'text-yellow-300': isActive($el) }"
                  >
                    {link.label}
                  </a>
                </li>
              </>
            );
          })
        }
      </ul>
      <div
        class="header-nav--indicator pointer-events-none shrink-0 bg-binding-dark header-nav--indicator__right sticky right-0 top-0 bottom-0"
      >
      </div>
    </nav>
  </div>
  <div
    class="sm:-mx-2 col-[full] bg-binding-dark h-3 shadow-hard"
    style="transform: skewY(-0.3deg)"
  >
  </div>
</header>
