---
import type { CollectionEntry } from "astro:content";

import { sortBy } from "es-toolkit";

import HorizontalScroller from "./HorizontalScroller.astro";
import InstagramCard from "./items/InstagramCard.astro";
import Lede from "./Lede.astro";
import Section from "./Section.astro";

interface Props {
  collection: CollectionEntry<"instagram">[];
}

const { collection } = Astro.props;

if (!collection || collection.length === 0) {
  return;
}

const posts = sortBy(collection, [(entry) => entry.data.takenAt]).reverse();
---

<Section id="photos" hasScroller heading="Photos">
  <Lede>Photos and videos from Instagram.</Lede>

  <HorizontalScroller
    class="mt-12"
    label="Instagram posts"
    theme="instagram"
    scrollFull={true}
  >
    {
      posts.map((entry) => (
        <li class="snap-center shrink-0 w-91.25 grow-0">
          <InstagramCard post={entry.data} />
        </li>
      ))
    }
  </HorizontalScroller>
</Section>
