---
import { buildPageHref } from "../helpers/paginate";

const { hasPrev, hasNext, prevIndex, nextIndex, searchParam, anchor } =
  Astro.props;
---

<div class="flex justify-center mt-4 gap-4">
  {
    hasPrev && (
      <a
        class="text-white group active:scale-95 hover:-rotate-1 focus:-rotate-1 transition-transform w-28 text-center underline bg-contain bg-no-repeat bg-center leading-20 font-semibold px-4 py-2 hover:underline focus:underline focus-visible::outline-2 outline-black outline-offset-2"
        style={{
          backgroundImage:
            "url(https://res.cloudinary.com/wolstenh/image/upload/w_300/q_auto:good/f_auto/v1758225433/astro-site/black-masking-tape-1.png)",
        }}
        href={buildPageHref({
          currentUrl: new URL(Astro.request.url),
          index: prevIndex,
          param: searchParam,
          anchor,
        })}
      >
        <span class="-rotate-3 inline-block group-active:scale-95 group-hover:underline transition-transform">Previous</span>
      </a>
    )
  }
  {
    hasNext && (
      <a
        class="text-white group w-28 active:scale-95 hover:rotate-[1deg] focus:rotate-[1deg] transition-transform text-center underline bg-contain bg-no-repeat bg-center leading-20 font-semibold px-4 py-2 hover:underline focus:underline focus-visible::outline-2 outline-black outline-offset-2"
        style={{
          backgroundImage:
            "url(https://res.cloudinary.com/wolstenh/image/upload/w_300/q_auto:good/f_auto/v1758225433/astro-site/black-masking-tape-2.png)",
        }}
        href={buildPageHref({
          currentUrl: new URL(Astro.request.url),
          index: nextIndex,
          param: searchParam,
          anchor,
        })}
      >
        <span class="rotate-3 inline-block group-active:scale-95 group-hover:underline transition-transform">Next</span>
      </a>
    )
  }
</div>
