---
import { getCollection } from "astro:content";
import { Section } from "./Section";
import Lede from "./Lede.astro";
import HorizontalScroller from "./HorizontalScroller.astro";
import PlacesCard from "./items/PlacesCard.astro";

const placesCollection = await getCollection("places");
const items = placesCollection.map((entry) => ({
  id: entry.id,
  ...entry.data,
}));
---

<Section hasScroller heading="Places">
  <Lede>
    <p class="max-w-3xl font-serif leading-relaxed tracking-widest mt-3">
      A randomised asortment of places I've liked on Foursquare at one point -
      it could be somewhere from a holiday, or it could be a random bar in
      Manchester that closed thirteen years ago…
    </p>
  </Lede>
  <HorizontalScroller label="Places" theme="instagram" class="mt-8">
    {
      items.map((item) => (
        <li class="shrink-0 flex snap-center grow-0 max-w-[min(365px,100vw-2.5rem)]">
          <PlacesCard item={item} />
        </li>
      ))
    }
  </HorizontalScroller>
</Section>
