---
import clsx from "clsx";

import Squiggle from "./icons/Squiggle.astro";

interface Props {
  [key: string]: unknown;
  class?: string;
  hasScroller?: boolean;
  heading?: string;
  id?: string;
}

const {
  class: className = "",
  hasScroller = false,
  heading,
  id,
  ...rest
} = Astro.props;
---

<section
  class={clsx(
    className,
    "group/section",
    hasScroller && "col-[full] constrain-content",
  )}
  id={id}
  {...rest}
>
  {
    heading && (
      <h2
        class="text-4xl font-bold font-serif mt-3 scroll-mt-8 w-fit"
        data-section={id}
      >
        {heading}
        <Squiggle class="mt-1 block h-2 w-24 -rotate-1 text-yellow-400" />
      </h2>
    )
  }
  <slot />
</section>
