---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import { Section } from "./Section";
import Lede from "./Lede.astro";
import SpeakingCard from "./items/SpeakingCard.astro";
import HorizontalScroller from "./HorizontalScroller.astro";

interface Props {
  collection?: CollectionEntry<"speaking">[];
}

const { collection: collectionProp } = Astro.props;
const collection = collectionProp || (await getCollection("speaking"));
const items = collection.map((entry) => entry.data);
---

<Section hasScroller heading="Speaking">
  <Lede>
    Talks I've given at conferences or other events. I'll link to slides or
    videos where they are available.
  </Lede>
  <div class="col-[full] mt-12">
    <HorizontalScroller label="Public speaking that I've done" theme="speaking">
      {
        items.map((item) => (
          <SpeakingCard
            item={item}
            class={
              item.type === "thumbnail"
                ? "snap-start shrink-0 grow-0 w-68"
                : "snap-start shrink-0 grow-0 w-91.25"
            }
          />
        ))
      }
    </HorizontalScroller>
  </div>
</Section>
