---
import type { CollectionEntry } from "astro:content";
import { Section } from "./Section";
import { SpotifyGenresLede } from "./SpotifyGenresLede";
import { SpotifyMusicPlayer } from "./SpotifyMusicPlayer";
import type { SpotifyArtist } from "./SpotifyMusicPlayer";

interface Props {
  data: CollectionEntry<"spotify"> | undefined;
}

const { data } = Astro.props;

if (!data) return;

const { artists, genres } = data.data;
---

<Section heading="Music">
  <SpotifyGenresLede genres={genres} />
  <SpotifyMusicPlayer client:visible artists={artists as SpotifyArtist[]} />
</Section>
