---
export interface SpotifyArtist {
  external_urls: { spotify: string };
  id: string;
  images: { height: number; url: string; width: number }[];
  name: string;
  top_track: null | {
    album: {
      images: { height: number; url: string; width: number }[];
      name: string;
    };
    features?: { tempo: number };
    id: string;
    name: string;
    preview_url: null | string;
  };
}

interface Props {
  artists: SpotifyArtist[];
}

const { artists } = Astro.props;
---

<div
  class="contents"
  x-data="spotifyAudioController"
  x-load="idle"
  data-artists={JSON.stringify(artists)}
>
  <audio class="sr-only" x-ref="audio"></audio>
  <iframe
    class="absolute right-0 bottom-0 h-20 w-36"
    name="spotify-preview"
    title="Spotify preview"
    aria-hidden="true"></iframe>
</div>
