---
interface Props {
  [key: string]: unknown;
  class?: string;
  href: string;
}
const { class: className = "", href, ...rest } = Astro.props;
---

<a href={href} class:list={["underline", className]} {...rest}><slot /></a>
